@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import 'antd/dist/reset.css';

*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
input,
select,
textarea {
    background-color: transparent;
    outline: none;
    resize: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}
ul,
li {
    list-style: none;
}

/* :root {
  --yellow-color: #ffa400;
} */
textarea {
    min-height: 120px;
}

.ant-image {
    width: 100%;
}
.ant-carousel .slick-dots {
    margin-left: 0%;
}

.ant-tabs-nav-list > .ant-tabs-tab {
    font-size: 17px;
    &:active {
        color: aliceblue;
    }
}

.containerBoxPage {
    background: rgb(245, 245, 250);
    min-height: calc(100vh - 220px - 70px);
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 14px;
}
.styleIconHeader,
.styleIconBox {
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}
.styleIconBox {
    font-size: 18px;
    color: #333;
    z-index: 9999;
}

.styleIconHeartActive {
    font-size: 18px;
    color: #f13131;
    z-index: 9999;
}
